## **From Zero to Hero: Solution Code**
This page includes solution code for the "From Zero to Python Hero" Python workshop. The purpose of this page is to provide guidance for the concepts and activities covered in the workshop.

* Section I consists of single lines of code used as examples of the walkthrough in Block I of Instructions.
* Section II consists of the solution code for the function exercises in Block II of Instructions.
* Section III consists of the solution code for the game logic of the Python Pong Game in Block III of Instructions.

> Teachers, feel free to use this page as a guideline for instruction, but modify it as needed to best suit your teaching style!

*Please utilize the corresponding worksheet for students to follow along throughout this workshop. (Name: From Zero to Python Hero Worksheet)*

### **Section I**

#### **Strings**

In [384]:
"Hello World" # Running a string returns in string format

'Hello World'

In [386]:
print("Hello World") # Print statement returns in text format

Hello World

In [388]:
print("this is \na string") # \n continues the string in the next line

this is
a string

In [259]:
len("this is a string") # len() counts the total characters in the string

16

In [300]:
type("hello") # type() returns the data type of the code within the parentheses

str

In [265]:
mystring = "Hello World" # Assign a variable to a string
mystring

'Hello World'

In [271]:
mystring[0] # First index starts at 0

'H'

In [273]:
mystring.upper() # .upper() capitalizes all letters in the string

'HELLO WORLD'

In [275]:
mystring.lower() # .lower() lowercases all letters in the string

'hello world'

In [279]:
mystring.split() # .split() splits the string by spaces (default)

['Hello', 'World']

In [667]:
x = 10 # Assign a variable to a number

# Use a formatted string literal (f-string), can include different data types as long as they are assigned to a variable
result = print(f"You have ${x}.")

You have $10.

#### **Numbers**

In [216]:
a = 10 # Value assignment: assign a variable to a number
a

10

In [530]:
type(a) # Data type is int

int

In [532]:
b = 2 # Assign a second variable to another number

In [534]:
a + b # Addition

12

In [536]:
a-b # Subtraction

8

In [538]:
a*b # Multiplication

20

In [540]:
a/b # Division

5.0

In [637]:
type(a/b) # Data type is float

float

In [528]:
10%2 # Remainder division: After a dividing the two numbers, what is the remainder?

0

In [284]:
e = 'one'
f = 'two'

In [292]:
e+f # Trying to conduct a math operation on strings does not return a number

'onetwo'

In [639]:
a + e # You cannot perform one operation on multiple data types!

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### **Variable Assignments**

In [233]:
count123 = "Hello World" # Valid variable name: Variables can contain letters and digits.
count123

'Hello World'

In [ ]:
user name = "CyberScriber"

In [235]:
1string = "Hello World" # Invalid variable name: Variables cannot start with a digit!
1string

SyntaxError: invalid decimal literal (3829243197.py, line 1)

In [237]:
_my_variable = "I love Python!" # Valid variable name: Variables can contain and start with underscores (_).
_my_variable

'I love Python!'

In [239]:
Sentence = "I love Python!" # Valid variable name: Variables can contain uppercase and lowercase levels.
sentence # Incorrect call: Variables are case sensitive!

NameError: name 'sentence' is not defined

Other variable assignment rules:

1. Special characters (such as @, #, $, %, etc.) and spaces are not allowed.

2. Variable names cannot be the same as Python's reserved keywords (e.g., if, else, while, for, class, def, etc.).

> **Note:** It is good practice to use unique and descriptive names that are readable and convey the meaning of the variable (e.g. 'user_age' instead of 'a').

#### **Lists**

In [544]:
# Create a list, it can contain values of any data type!
mylist = ['abc', 123, 0.20]
mylist

['abc', 123, 0.2]

In [418]:
type(mylist) # Data type is list

list

In [548]:
numlist = ['one','two','three'] # Create a list
numlist

['one', 'two', 'three']

In [550]:
numlist.append('four') # .appends() inserts another object at the end of the list
numlist

['one', 'two', 'three', 'four']

In [552]:
numlist.pop(0) # .pop() removes the object at the specfic index called, remember index starts at 0!
mylist

['abc', 123, 0.2]

In [324]:
newlist = ['e','a','x','b','l'] # Create a new list
newlist

['e', 'a', 'x', 'b', 'l']

In [328]:
newlist.sort() # .sort() reorganizes the list in alphabetical order
newlist

['a', 'b', 'e', 'l', 'x']

#### **Boolean Expressions (Comparison Operators)**
Boolean logic helps computers make decisions by evaluating conditions as **True** or **False**.

In [410]:
# Variable Assignments
a = 10
b = 20

In [412]:
a > b # Returns True if the left operand is greater than the right operand

False

In [414]:
type(a > b) # Data type is bool

bool

Try out other operators! Explore different comparison expressions that output True and output False. Examples are show below:

In [420]:
a < b # Less than

True

In [422]:
a >= b # Greater than or equal to

False

In [424]:
a <= b # Less than or equal to

True

In [426]:
a == b # Equal to
# Note: (=) is an ASSIGNMENT operator, (==) is a COMPARISON operator

False

In [428]:
a != b # Not equal to

True

In [ ]:
a += b # Add and equal to: adds and reassigns the left operand to the sum

An interesting feature of Python is the ability to chain multiple comparisons to perform a more complex test. You can use these comparison operators as a shorthand for larger Boolean Expressions!

In [439]:
x = 25
y = 15

In [451]:
(x > y) and (x != 0) # AND - BOTH conditions must be true

True

In [453]:
(x < y) or (y == 0) # OR - At least ONE condition must be true

False

In [449]:
not (x < y) # NOT - Negates a condition

True

### **Section II**

#### **If/Elif/Else Statements**
To show the process of if/elif/else statements, walk through each statement until the function includes all three.

In [559]:
age = 20

# The if statement checks a condition. If it's True, it runs the code inside it.
if age >= 18:
    print("You can vote!")

You can vote!

In [563]:
age = 17 # What if age = 21?

if age >= 18:
    print("You can vote!")   
# The elif (else if) is used when there is more than one condition to check. If the first if is False, Python moves to elif.
elif age >= 13:
    print("You can have a social media account!")

You can have a social media account!

In [567]:
age = 8 # What if age = "ten"? (Python cannot compare a string and a number using comparison operators.

if age >= 18:
    print("You can vote!")
elif age >= 13:
    print("You can have a social media account!")
# The else statement runs if none of the previous conditions are True.
else:
    print("You’re still a kid, enjoy your childhood!")

You’re still a kid, enjoy your childhood!

#### **For Loops**
A **for loop** is a statement that repeats a block of code a specific number of times. 
* This is useful when you know exactly how many iterations you need.

In [ ]:
numlist = [1,2,3,4,5,6,7,8,9] # Create a list of numbers

In [641]:
# Iterating through a list
for i in numlist: # Variable i can be modified, as long as it is used consistently in the loop and is readable
    print(i)

1
2
3
4
5
6
7
8
9

In [582]:
# Printing Even Numbers
for num in numlist:
    if num%2 == 0:
        print(num)

2
4
6
8

In [584]:
# Printing Odd Numbers
for number in numlist:
    if number%2 != 0:
        print(number)

1
3
5
7
9

#### **While Loops**
A **while loop** is a statement that continues to execute a block of code as long as a specified condition is true. 
* This is ideal when you don’t know in advance how many times you’ll need to loop.

In [603]:
# Counting up
x = 1

while x < 10: 
    print(x) # Print the current number
    x += 1 # Increase x by 1 for the next iteration

1
2
3
4
5
6
7
8
9

In [605]:
# Factorials
n = 4 # Any positive integer
factorial = 1 # Stores product of each iteration
count = 1 # Counts iterations

while count <= n:
    factorial *= count  # Multiply the current factorial by count
    print(factorial)  # Print the current factorial
    count += 1  # Increase count by 1 for the next iteration

1
2
6
24

#### **Functions**
A **function** groups together a set of statements so they can be run more than once. They can also let us specify parameters that serve as inputs to the functions. Functions allow us to not have to repeatedly write the same code again and again!

> **Def Statements**
>
> Functions begin with *def* then a space followed by the name of the function. Try to keep function names relevant and readable!
> 
>Next comes a pair of parentheses with a number of arguments separated by a comma. These arguments are the inputs for your function. You'll be able to use these inputs in your function.
> 
>The end of the statement ends with a colon. You MUST indent to begin the code inside your function correctly. Python makes use of whitespace to organize code.

In [621]:
# Function Syntax
def name_of_function(argument1,argument2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Code goes here
    # Return desired result

In [625]:
# Normal Function
def say_hello():
    print("helloooooo!")

say_hello()

helloooooo!

In [627]:
# Addition Function
def addition(num1, num2):
    return num1 + num2

addition(2,1)

3

#### **EXERCISE 1: Compare Numbers**
The purpose of this exercise is for students to develop a function that can receive arguments, use if/else statements, and appropriately use Python math and comparison operators. Encourage students to draw out pseudocode to visualize the iterations of their code and discuss as a class!

**PROMPT: Write a Python function named *compare_numbers* that accepts two numbers. If both numbers are odd, return the larger of the two. If both numbers are even, return the smaller of the two. If one number is odd and the other is even, return their sum.**

In [332]:
def compare_numbers(a, b):
    if a % 2 == 0 and b % 2 == 0: # Check if a and b are both even
        if a < b: # If both numbers are even, check if a is less than b
            return a  # If a is smaller, return a
        else:
            return b  # If a is NOT smaller, return b
    elif a % 2 != 0 and b % 2 != 0: # Check if a and b are both odd
        if a > b: # If both numbers are odd, check if a is greater than b
            return a  # If a is greater, return a
        else:
            return b  # If a is NOT greater, return b
    else:  # One number is and the other is even
        return a + b  # Return their sum

Example test cases:

In [100]:
compare_numbers(4, 8)

4

In [102]:
compare_numbers(7, 3)

7

In [645]:
compare_numbers(5, 9)

9

#### **EXERCISE 2: Up Low**
The purpose of this exercise is for students to develop a function that can receive an argument, manipulate strings, and use various Python statements. Encourage students to draw out pseudocode to visualize the iterations of their code and discuss as a class!

**PROMPT: Write a Python function named *up_low* that accepts a string and calculates the number of upper case letters and lower case letters.**

> Example input code:
>
> `"Hello Mr. Rogers, how are you this fine Tuesday?"`

> Example output code:
> 
> `Original String: Hello Mr. Rogers, how are you this fine Tuesday?`
> 
> `No. of Upper case characters: 4`
> 
> `No. of Lower case characters: 33`

In [91]:
def up_low(string): 
    upper_count = 0  # Initialize a variable to count uppercase letters
    lower_count = 0  # Initialize a variable to count lowercase letters
    
    # Loop through each character in the string
    for letter in string:
        if letter.isupper() == True:  # Check if the character is uppercase
            upper_count += 1  # If it's uppercase, increment the upper_count
        elif letter.islower():  # Check if the character is lowercase
            lower_count += 1  # If it's lowercase, increment the lower_count
        else:
            pass  # If it's a special character (neither upper nor lower), do nothing

    return print("Original String:", string, "\nNo. of Upper case characters:", upper_count, "\nNo. of Lower case characters:", lower_count)

Example test cases:

In [108]:
string = "Hello Mr. Rogers, how are you this fine Tuesday?"
up_low(string)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters: 4
No. of Lower case characters: 33

In [110]:
string = "My friend Timmy lives in New York City."
up_low(string)

Original String: My friend Timmy lives in New York City.
No. of Upper case characters: 5
No. of Lower case characters: 26

### **Section III**

#### **Number Guessing Game**

Develop a number guessing game in Python that allows users to select a difficulty level and guess the correct number within a certain amount of attempts. This activity applies a variety of Python statements taught in Sections I and II to create a fun interactive game students can modify as they play through the game.

> After students have finished this activity, discuss as class what they could further improve on or incorporate in the game if they had more time.

In [662]:
import random

def number_guessing_game():
    # Print introduction
    print("Welcome to the Number Guessing Game!")
    print("Choose your difficulty level:")
    print("1. Easy (1-10)")
    print("2. Medium (1-50)")
    print("3. Hard (1-100)")

    # User selects difficulty
    difficulty = input("Enter the difficulty level (1, 2, or 3): ")
    
    # Set maximum number and attempts based on difficulty level
    if difficulty == "1":
        max_number = 10
        max_attempts = 5
    elif difficulty == "2":
        max_number = 50
        max_attempts = 7
    elif difficulty == "3":
        max_number = 100
        max_attempts = 10
    else:
        print("Invalid choice. Defaulting to Medium difficulty.")
        max_number = 50
        max_attempts = 7

    # Generate a random secret number within the chosen range
    secret_number = random.randint(1, max_number)
    attempts = 0  # Initialize attempt counter
    guessed_correctly = False  # Track if the guess is correct

    # Initiate game
    print(f"I'm thinking of a number between 1 and {max_number}. You have {max_attempts} attempts.")

    # Game loop continues until the player guesses correctly or runs out of attempts
    while not guessed_correctly and attempts < max_attempts:
        guess = input("Enter your guess: ")
        
        # Validate that the input is a number
        if not guess.isdigit():
            print("Please enter a valid number.")
            continue  # Skip to the next iteration if input is invalid
        
        guess = int(guess)  # Convert input to an integer
        attempts += 1  # Increment the attempt counter
        
        # Check if the guess is too low, too high, or correct
        if guess < secret_number:
            print("Too low! Try again.")
        elif guess > secret_number:
            print("Too high! Try again.")
        else:
            guessed_correctly = True  # Set flag to True if the guess is correct
            print(f"Congratulations! You've guessed the number {secret_number} in {attempts} attempts.")
            break  # Exit the loop if guessed correctly

    # If the player runs out of attempts, inform them of the correct number
    if not guessed_correctly:
        print(f"Sorry! You've used all your attempts. The number was {secret_number}.")

    # Ask the player if they want to play again
    play_again = input("Do you want to play again? (yes/no): ").lower()
    if play_again == "yes":
        number_guessing_game()  # Restart the game if the player chooses to play again
    else:
        print("Thanks for playing!")  # End the game

# Start the game
number_guessing_game()

Welcome to the Number Guessing Game!
Choose your difficulty level:
1. Easy (1-10)
2. Medium (1-50)
3. Hard (1-100)

Enter the difficulty level (1, 2, or 3):  1

I'm thinking of a number between 1 and 10. You have 5 attempts.

Enter your guess:  5

Too low! Try again.

Enter your guess:  8

Too low! Try again.

Enter your guess:  9

Congratulations! You've guessed the number 9 in 3 attempts.

Do you want to play again? (yes/no):  no

Thanks for playing!